* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

/*CABEÇALHO*/

.containerHeader {
    background-color: #6B1108;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 60px;
}

.logo{
    width: 15vh;
    margin-top: -67px;
    margin-right: 17px;
}


a:hover {
    color: #ffffff;
    transition: all .3s ease-out;
}

.navCadastro {
    position: absolute;
    top: 1vh;
    right: 10vh;
}

.LoginECadastro {
    display: inline;
    font-size: 12pt;
}

.navOpcoes li {
    position: relative;
    top: 2vh;
    left: 73vh;
    padding: 30px;
}

.fonteCabecalho {
    display: inline;
    font-size: 15pt;
}

a {
    text-decoration: none;
    color: #daa520;
}

/*MAIN*/

.fundo {
     content: "";
     position: fixed;
     left: 0;
     right: 0;
     z-index: -1;
     display: block;
     background-image: url("/img/fundo.jpg");
     object-fit: cover;
     height: 100%;
     width: 100%;
     -webkit-filter: blur(10px);
     -moz-filter: blur(10px);
     -o-filter: blur(10px);
     -ms-filter: blur(10px);
     filter: blur(5px) brightness(0.80);
     top: 5px;
 }

#pagina{
    max-width: 700px;
    margin: 0 auto;
}
h1 {
    color: #0f0f0f;
    margin-top: 30px;
}
hr{
    margin-bottom: 20px;
}

.container-opcoes{
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.opcao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}
.opcao:hover{
    border: 1px solid #daa520;
    color: #daa520;
    background: rgb(212, 212, 212);
    transition: .3s;
}


/*FOOTER*/
.Rodape {
    background-color: #6B1108;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-size: 12pt;
    width: 100%;
    height: 10px;
    bottom: 0;
}