* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffec;
    overflow-x: hidden;
}

/*CABEÇALHO*/
.containerHeader {
    background-color: #6B1108;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 60px;
}

.logo {
    width: 15vh;
    margin-top: -67px;
    margin-right: 17px;
}

a:hover {
    color: #ffffff;
    transition: all .3s ease-out;
}

.navCadastro {
    position: absolute;
    top: 1vh;
    right: 10vh;
}

.LoginECadastro {
    display: inline;
    font-size: 12pt;
}

.navOpcoes li {
    position: relative;
    top: 2vh;
    left: 73vh;
    padding: 30px;
}

.fonteCabecalho {
    display: inline;
    font-size: 15pt;
}

a {
    text-decoration: none;
    color: #daa520;
}

/*MAIN*/
main{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 88.6vh;
}

.fundo {
     content: "";
     position: fixed;
     left: 0;
     right: 0;
     z-index: -1;
     display: block;
     background-image: url("../img/fundo.jpg");
     object-fit: cover;
     height: 100%;
     width: 100%;
     -webkit-filter: blur(10px);
     -moz-filter: blur(10px);
     -o-filter: blur(10px);
     -ms-filter: blur(10px);
     filter: blur(5px) brightness(0.80);
     top: 5px;
 }

.container-main{
    display:flex;
    margin: 40px;
}
.menu-opcao{
    padding: 10px;
    width: 400px;
}
.opcao{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border: 1px solid black;
    margin: 15px 0px;
    cursor: pointer;
}
.opcao:hover{
    border: 1px solid #daa520;
    color: #daa520;
    background: rgb(212, 212, 212);
    transition: .3s;
}
.container-cardapio{
    display:flex;
    flex-wrap: wrap;
    width: 610px;
    padding: 25px;
}
#abc{
    font-weight: 600;
    display:flex;
    justify-content: space-between;
}
.cada-prato:hover{
    border: 1px solid #daa520;
}

.cada-prato{
    display flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding 5px;
    background-color: white;
    border: 1px solid black;
    margin: 15px;
    font-size: 14px;
    width: 160px;
    height: 180px;
}

/*FOOTER*/
.Rodape {
    background-color: #6B1108;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 12pt;
    width: 100%;
    height: 10px;
}