*{
    margin: 0;
    padding: 0;
}
#cadastro{
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 2em;
}
#cadastro div{
    margin: 10px;
}
div.container{
    text-align: center;
}
h1 {
    color: #daa520;
	text-align: center;
}
.tabela, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tabela{
    min-width: 650px;
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;
}

#tabela th {
	padding: 10px;
	background-color: black;
	color: #fff;
}
#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
}


