@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & family= Poppins:ital,wght@0,100;0,200; 0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #ffffec;
    overflow: hidden;
}

/*HEADER*/

.containerHeader {
    background-color: #6B1108;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 60px;
}

.logo{
    width: 15vh;
    margin-top: -67px;
    margin-right: 17px;
}


a:hover {
    color: #ffffff;
    transition: all .3s ease-out;
}

.navCadastro {
    position: absolute;
    top: 1vh;
    right: 10vh;
}

.LoginECadastro {
    display: inline;
    font-size: 12pt;
}

.navOpcoes li {
    position: relative;
    top: 2vh;
    left: 73vh;
    padding: 30px;
}

.fonteCabecalho {
    display: inline;
    font-size: 15pt;
}

a {
    text-decoration: none;
    color: #daa520;
}

/*MAIN*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.card {
    bottom: 50px;
    padding: 20px;
    margin: 10px;
    border-radius: 2%;
    border: 5;
    box-shadow: 3px 3px 2px 2px #6B1108;
    opacity: 0.8;
}

h2 {
    text-align: center;
    padding: 15px;
    color: #6B1108;
}

.label-float input {
    width: 100%;
    color: #6B1108;
    padding: 3px 3px;
    margin: 5px;
    display: inline-block;
    border: 0;
    box-shadow: 0px 1px 3px 3px #6B1108;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    border-radius: 0;
}

.label-float {
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float label {
    color: #6B1108;
    pointer-event: none;
    top: 0;
    left: 0;
    margin-top: 13px;
}

.botao {
    background-color: transparent;
    border-color: #6B1108;
    color: #6B1108;
    padding: 9px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease-out;
}

botao:hover {
    background-color: #6B1108;
    color: #fff;
    transition: all .5s ease-out;
}

.esqueceuSenha:hover{
    color: rgb(7, 6, 6);
    transition: all .5s ease-out;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #6B1108;
    width: 60%;
}



.semConta {
    color: #6B1108;
    font-size: 14pt;
    text-align: center;

}

.cadastreSe {
    text-decoration: none;
    color: #daa520;
    font-weight: bold;
    padding: 5px;
}

.cadastreSe:hover {
    color: #6B1108;
    transition: all .3s ease-out;
}

/*FOOTER*/


.Rodape {
    background-color: #6B1108;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-size: 10pt;
    width: 100%;
    height: 10px;
    margin: auto;
    bottom: 0;

}