@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & family= Poppins:ital,wght@0,100;0,200; 0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,700;1,300&display=swap');
* {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

body {
overflow-x: hidden;
background-color: #ffffec;
}

/*HEADER*/
.containerHeader {
background-color: #6B1108;
font-weight: bold;
color: #ffffff;
padding: 10px;
position: relative;
width: 100%;
height: 60px;
}

.logo {
width: 15vh;
margin-top: -67px;
margin-right: 17px;
}

a:hover {
color: #ffffff;
transition: all .3s ease-out;
}

.navCadastro {
position: absolute;
top: 1vh;
right: 10vh;
}

.LoginECadastro {
display: inline;
font-size: 12pt;
}

.navOpcoes li {
position: relative;
top: 2vh;
left: 73vh;
padding: 30px;
}

.fonteCabecalho {
display: inline;
font-size: 15pt;
}

a {
text-decoration: none;
color: #daa520;
}

/*MAIN*/

.fundo {
content: "";
position: fixed;
left: 0;
right: 0;
z-index: -1;
display: block;
background-image: url("/img/fundo.jpg");
object-fit: cover;
height: 100%;
width: 100%;
-webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(5px) brightness(0.80);


}

.containerMain {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
margin-top: 50px;
width: 100%;
}

h1 {
display: flex;
align-items: flex-start;
margin-top: 0px;
color: #daa520;
}

.meuPerfil {
background-color: #6B1108;
width: 100vh;
padding: 10px;
border-radius: 15px;
}

.itemDados {
line-height: 25px;
color: #ffffff;
font-weight: 600;
}

.button-end{
text-align: end;
margin-right: 14px;
text-transform: uppercase;
font-weight: bold;
font-size: 15px;
}


.minhaReserva {
position: absolute;
background-color: #6B1108;
width: 100vh;
height: 32vh;
padding: 10px;
border-radius: 15px;
top: 50vh;
box-sizing: border-box;
}

.itemDados2-container {
margin-top: 45px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
align-items: flex-start;
justify-content:space-around;
}

.itemDados2 {
width: 30%;
line-height: 24px;
color: #6B1108;
font-weight: 600;
background-color: #ffffec;
float: left;
padding: 5px;
}

label{
font-family: sans-serif;
}


.tit-reserva{
height: 15px;
}
/*RODAPÉ*/
.Rodape {
background-color: #6B1108;
padding: 10px;
text-align: center;
color: #ffffff;
position: absolute;
font-size: 10pt;
width: 100%;
height: 10px;
margin: auto;
bottom: 0;
}