body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #daa520;
	text-align: center;
}

#tabela {
	margin-top: 30px;
    margin-left: 15px;
	border-collapse: collapse;
	text-align: center;
	width: 1300px;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #daa520;
	color: #fff;
	text-align: center;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
}

.button1 {
	text-decoration: none;
	background-color: #daa520;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	 margin: 0 15px;
}

.button2 {
	text-decoration: none;
	background-color: #6B1108;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}
